/modules/admin_menu/*
!/modules/admin_menu
/modules/advanced_help/*
!modules/advanced_help
/modules/backup_migrate/*
/modules/cck/*
/modules/conditional_styles/*
/modules/contemplate/*
/modules/custom_breadcrumbs/*
/modules/filefield/*
/modules/google_analytics/*
/modules/imageapi/*
/modules/imagecache/*
/modules/imagefield/*
/modules/lightbox2/*
/modules/mass_contact/*
/modules/menu_block/*
/modules/nodewords/*
/modules/phpmailer/*
/modules/taxonomy_menu/*
/modules/token/*
/modules/transliteration/*
/modules/ubercart/*
/modules/uc_bank_transfer/*
/modules/uc_product_power_tools/*
/modules/views/*
/modules/whizzywig/*
/libraries/phpmailer
/libraries/whizzywig
