#container {
    position: relative;
}

#fixedHeader {
    left: 0;
    position: absolute;
    top: 20px;
    width: 337px;
}

#footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 337px;
}

#footer ul.menu li a {
    display: inline;
}

#page {
    height: 500px;
}

.view-uc-shoelisting .views-row ul .key, .view-uc-shoe-single .views-row ul .key {
    display: inline;
}

.view-uc-shoelisting .views-row ul .value, .view-uc-shoe-single .views-row ul .value {
    display: inline;
}